html{
      font-size: 100%
}

#a{
  grid-area:a;
  width:400px;
}


#b{
  grid-area:b;
}




#c{
  grid-area:c;
}




#d{
  grid-area:d;
}



@media screen and (min-width: 780pc){
  .item1 {
    margin-right:auto;
  }
  nav ul li{
    margin: 8px;
  }
}


@media screen and (min-width:980px){
  article{
      display:grid;
      grid-template-columns:200px 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
        "a b b"
                            ". . d"
                                  ". c c"}

                #nav{
                                  max-width: 1010px
                          }
}

@media screen and (min-width: 1200px){
  article{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "a b b ."
    ". . c c"
    "d . . ."
  }
  #nav {
    max-width:1200px
  }
}

p{
    color:#EC7063;
  font-family:'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;

  }

.italic{
  font-style: italic;
}

image{
  border: none;
  width:auto;
  height:250px
}

h1, h2, h3{
  font-family:Georgia, "Times New Roman", serif;
}
h1{
  font-size: 2.5rem;
  text-align: center;
}

h2,h3{
        font-size:1.5rem;
        text-align: center;
        font-style: italic;
}

body{
  background-color:#9dacbb;
}

#container{
  width:95%;
  margin:0 auto;
  padding:40px 30px;
  background-color:#ffffff
}


#nav{
  padding:0;
}

#nav li {
  list-style:none;
  text-align:center;
  width:95%;
  margin:2px;
  padding:10px;
  background-color:#669acb
}

#nav a:link, a:visited{
      display:block;
    color:#ffffff;
    background-color: #FF0000;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#nav a:hover, a:active{
  background-color:#FF0000;
}

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style: italic;
  margin-top:0;
  text-align: center;
}

#footer p{
  color: black;
}

#footer a:link, #footer a:visited{
  color:#3D99BF
}

#footer a hover, #footer a:active{
  color:#D9BE67;
}


/*=================================
Flexbox
===================================*/

ul{
  display: flex;
  flex-direction:column;

}
li{
  flex:1 1 auto;
}


@media (min-width: 700px){
      ul {
                flex-direction: row;
                justify-content:center;
        }
}

@media (min-width: 800px) {

      li {
                margin-right: auto;
        }
}
