html{
    font-size:100%
}

p{
    color:#EC7063;
  font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.italic{
  font-style: italic;
}

image{
        border: none;
  width:auto;
  height:500px;
}

h1, h2, h3{
  font-family:Georgia, "Times New Roman", serif;
}
h1{
  font-size: 2.5rem;
  text-align: center;
}

h2,h3{
        font-size:1.5rem;
        text-align: center;
        font-style: italic;
}

body{
  background-color:#ebe3ce;
}

#container{
  width:95%;
  background-color:#ffffff;
  margin:0 auto;
}

#nav{
  padding:0;
  list-style-type: none;
}

#nav li{
    margin: 0;
    padding: 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

#nav a:link, nav a:visited{
  display:block;
    color:#ff0000;
    background-color: #ff0000;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active{
  background-color:#7a991a;
}

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style: italic;
  margin-top:0;
  text-align: left;
}

#footer{
  color: black;
  font-family:Georgia,"Times New Roman", serif;
  font-size:0.8em;
  border-top:1px solid black;
            background-color: #ff0000
}













a
