html{
      font-size: 100%
}

#a{
  grid-area:a;
  width:400px;

}

#b{
  grid-area:b;

}



#c{
  grid-area:c;

}



#d{
  grid-area:d;

}



@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }


}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
			               ". . d"
				                    ". c c"}

		#nav {
				 max-width: 1050px
			 }
  }

	@media screen and (min-width: 1200px) {
	  article {
	    display: grid;
	    grid-template-columns: 200px 1fr 1fr 1fr;
	    grid-gap: 20px;
	    grid-template-areas:
	    "a b b ."
	    ". . c c"
	    "d . . ."
	  }
	  #nav {
	    max-width: 1300px
	  }
	}

#container{
  width:95%;
  margin:0 auto;
  padding:40px 30px;
  background-color:#ffffff
}

#main{
  width:70%;
  margin:0 auto;
  padding:10px;
  text-align:center;
}

p{
    color:#EC7063;
  font-family:'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.italic{
  font-style: italic;
}

h1, h2, h3{
  font-family:Georgia, "Times New Roman", serif;
}
h1{
  font-size: 2.5rem;
  text-align: center;
}

h2,h3{
        font-size:1.5rem;
        text-align: center;
        font-style: italic;
}

body{
  background-color:#9dacbb;
}


#nav{
  padding:0;
}

#nav .item{
  list-style:none;
  text-align:center;
  width:95%;
  margin:2px;
  padding:10px;
  background-color:#669acb
}

.item a:link, .item a:visited{
    color:#ffffff;
    background-color: #FF0000;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#nav .item:hover, #nav .item:active{
  background-color:#FF0000;
}

img{
  width:100%;
  margin:15px 0 30px 0;
  border:0;
}

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style: italic;
  margin-top:0;
  text-align: center;
}

#footer p{
  color: black;
}

#footer a:link, #footer a:visited{
  color:#3D99BF
}

#footer a hover, #footer a:active{
  color:#D9BE67;
}

.flexbox{
      display: flex;
      flex-direction: column;
}

@media (min-width: 700px){
        .flexbox{
                flex-direction: row;
                justify-content:center;
        }
}

@media (min-width: 800px) {

        .item {
                margin-right: auto;
        }
}














a
